<div class="index_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/erezfriemagor/image/upload/v1545252788/pexels-photo-235554.jpg');">
<table style="width:100%">
<tr>
    <th>From</th>
    <th></th>
    <th>Received</th>
  </tr>
<%@parent_messages.each do |m|%>
 <tr>
    <td><%= link_to parent_path(m.sending_parent_id) do %><%=Parent.find(m.sending_parent_id).name%></td><%end%>
    <td> <%= link_to parent_path(m.sending_parent_id) do %>
     <div class="trainershowcircle" style="background-image: url(<%=Parent.find(m.sending_parent_id).photo%>)"></div><%end%>

   </td>

    <td> <%= link_to parent_message_path(m.receving_parent_id,m.id) do %>
      <%=m.date%> <%=m.time.hour%>:<%=m.time.min%></td><%end%>
   </tr>
 <%end%>
</table>
</div>

<style>
 .trainershowcircle {
     position: relative;
     border-radius: 49.99%;
     width: 100px;
     height: 100px;
     background-size: cover;
     border: solid 1px white;
     box-shadow: 3px 3px 3px 3px;
   }
   .index_banner{height:100vh;}
   table{color:white;}

</style>




