<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "baby-boy.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

    <!-- Links when logged in -->
    <%= link_to "about us", about_index_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Avatar with dropdown menu -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= image_tag "https://images.pexels.com/photos/789786/pexels-photo-789786.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">




<!-- add here  -->
          <li>
           <%if current_user.subscription_id == nil%>
           <%= link_to subscriptions_path do %>

           <i class="fa fa-user"></i> <%= t(".profile", default: "Your Account") %>
            <% end %>
            <%else%>
             <%= link_to subscription_path(current_user.subscription_id) do %>
              <% end %>
           <% end %>




           <% Parent.all.each do |parent|%>
           <%if current_user.id == parent.user_id%>
           <%= link_to parent_path(parent) do %>
           <i class="fa fa-user"></i> <%= t(".profile", default: "Your Profile") %>
           <% end %>
           <%= link_to parent_messages_path(parent) do %>
           <i class="fa fa-user"></i> <%= t(".profile", default: "Your messages") %>
           <% end %>
           <% end %>
           <% end %>
         </li>
         <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <% else %>
  <!-- Login link (when logged out) -->
  <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <%= link_to "about us", about_index_path, class: "navbar-wagon-item navbar-wagon-link" %>

  <% end %>
</div>
<!-- Dropdown list appearing on mobile only -->

<div class="navbar-wagon-item hidden-md hidden-lg">
  <div class="dropdown">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <!-- <li><%#= link_to "about us", about_index_path, class: "navbar-wagon-item navbar-wagon-link" %></li> -->
      <li>
       <% if user_signed_in? %>
           <%if current_user.subscription_id == nil%>
           <%= link_to subscriptions_path do %>

           <i class="fa fa-user"></i> <%= t(".profile", default: "Your Account") %>
            <% end %>
            <%else%>
             <%= link_to subscription_path(current_user.subscription_id) do %>
              <% end %>
           <% end %>


       <% Parent.all.each do |parent|%>
       <%if current_user.id == parent.user_id%>
       <%= link_to parent_path(parent) do %>
       <i class="fa fa-user"></i> <%= t(".profile", default: "Your Profile") %>
       <% end %>

       <%= link_to parent_messages_path(parent) do %>
       <i class="fa fa-user"></i> <%= t(".profile", default: "Your messages") %>
       <% end %>

       <% end %>
       <% end %>
       <% end %>
     </li>
     <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
      <% end %>
    </li>
  </ul>
</div>
</div>
</div>

