
<div class="index_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/erezfriemagor/image/upload/v1536598730/pexels-photo-225017_1.jpg');">
  <h1>Moms and Dads</h1><
    <h2>find out who else is looking for <br>
    someone right to have kids with</h2>


     <div class="row all_trainers">
      <% @parents.each do|parent|  %>
      <div class="col-xs-12 col-md-4 col-lg-2" style="margin-bottom: 20px;">
       <div class="card1">
         <div class="image_link">
          <div make_card_link>
            <%= link_to parent_path(parent) do %>
            <div class="card1 caaaard" style="background:linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),url(<%=cl_image_path "#{parent.photo}"%>); border: solid white 1px;box-shadow: 5px 5px 5px;background-position: center;background-size: 100% 100%; background-size: 200px; width:200px;">
              <div class="agenda">
               <%=parent.name%>
              </div>
              <hr>
              <div class ="first"><div>  <%= parent.age %> </div></div>

            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>

    <% end %>
  </div>



 <div><%= link_to "create a profile",  new_parent_path, class: "btn btn-primary btn-lg align"%>
 </div>
</div>

<style>

@media (min-width:1200px){


 .index_banner

 {

  margin-top:-22px;
}

h1{

  padding-top:130px;
  color:#ff66cc;
  font-size:120px;
}

h2
{

  color: #66ccff;
  margin-bottom:90px;

}

.align
{

margin-left:1500px;
margin-top:-1000px;

}

}


@media (max-width:1200px){

  .index_banner

 {

  margin-top:-22px;
}

  h1{


    color:#ff66cc;
    font-size:80px;
    margin-left:5px;

  }

  h2
  {

    color: #66ccff;
    margin-bottom:90px;
    font-size:25px;
    margin-left:5px;


  }

  .align
  {

    margin-left:-1680px;
    margin-top:-750px;

  }

}

@media (max-width:767px){


.align
{


margin-top:-1500px;

}


 #home-banner

 {

  margin-top:-20px;
}

h1{

  padding-top:130px;
  color:#ff66cc;
  font-size:25px;
  margin-left:-1600px;
}

h2
{

  color: #66ccff;
  margin-bottom:90px;
  font-size:17px;
  margin-left:-1600px;

}

.align
{

  margin-left:-1680px;
  margin-top:-650px;

}
@media (max-width:767px){

  .all_trainers

  {
    margin-left:40px;
  }


  h1

  {
    margin-left:55px;
  }

  h2
  {

    margin-left:20px;

  }

  .align
{

  margin-left:50px;
  margin-top:-3600px;

}


}

@media (min-width:767px){

  h1

  {

    margin-left:-40px;
  }

}


</style>







<!--
            1px;box-shadow: 5px 5px 5px;background-position: center; background-size: 100% 100%; background-size: 300px; width:300px;">
          -->
