
<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>

<div class="index_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/erezfriemagor/image/upload/v1536598730/pexels-photo-225017_1.jpg');">
  <h1>Moms and Dads</h1><
  <h2>find out who else is looking for <br>
  someone right to have kids with</h2>


  <%= %>

  <%= form_tag parents_path,class: "search",method: :get do %>
  <div class="title country">country</div>
  <%= select_tag(:country, options_for_select(@countrynames ,params[:country]))%>
  <div class="title town">town</div>
  <%= text_field_tag :town, params[:town] %>
  <div class="title age">age</div>
  <%= select_tag(:age, options_for_select([['20-25'],['25-30'],['31-35'],['36-40'],['41-45'],['46-50'],['51-60'],['61-70'],['70+']] ,params[:age]))%>
  <div class="title orientation">orientation</div>
  <%= select_tag(:orientation, options_for_select([['straight man'],['straight woman'],['gay man'],['lesbian woman'],['gay couple'],['lesbian couple'],['transgender man'],['transgender woman'],['other'],['not known/open to ideas']] ,params[:orientation]))%>
  <div class="title within">within(kilometers)</div>
  <%= select_tag(:distance, options_for_select([10,20,30,40,50,60,70,80],params[:distance]))%>
  <%= submit_tag "Search", name: nil,id: "submit" %>
  <% end %>


  <div class="row all_trainers">
    <% if @parents.length > 1%>
    <% @parents.each do|parent|  %>
    <div class="col-xs-12 col-md-4 col-lg-2" style="margin-bottom: 20px;">
     <div class="card1">
       <div class="image_link">
        <div make_card_link>
          <%= link_to parent_path(parent) do %>
          <div class="card1 caaaard" style="background:linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),url(<%=cl_image_path "#{parent.photo}"%>); border: solid white 1px;box-shadow: 5px 5px 5px;background-position: center;background-size: 100% 100%; background-size: 200px; width:200px;">
            <div class="agenda">
             <%=parent.name%>
           </div>
           <hr>
           <div class ="first"><div>  <%= parent.age %> </div></div>
           <% if user_signed_in? %>
           <% if parent.user_id == current_user.id %>
           <style>
           .align

           {

            visibility:hidden;
          }

        </style>
        <% end %>
        <% end %>
      </div>
      <% if user_signed_in? == false || current_user.email_confirmed != true%>
      <style>
      .align

      {

        visibility:hidden;
      }
    </style>
    <%end%>

    <%end%>
  </div>
</div>
</div>
</div>
<% end %>
<%else%>
<div id="show">please try again there is nothing to show</div>
<style>.index_banner{height:1500px;}</style>
<% end %>
</div>


<div><%= link_to "create a profile",  new_parent_path, class: "btn btn-primary btn-lg align"%>
</div>
</div>


<style>



@media (min-width:1200px){

  .search{margin-top:-90px;
    margin-bottom:20px;}
    .all_trainers{margin-left:5px;}

    .footer{visibility:hidden;}

    .country{margin-left:3px;}

    #country{ margin-left:3px;}


    .town

    {
      margin-left:333px;
      margin-top:-68px;
    }

    #town
    {
      margin-left:333px;
      margin-right:40px;
    }

    .age

    {
      margin-left:596px;
      margin-top:-68px;
    }

    #age
    {
     margin-left:596px;
   }

   .orientation

   {
    margin-left:688px;
    margin-top:-68px;
  }

  #orientation
  {
   margin-left:688px;
 }


 .title

 {
   color:green;
   font-size:20px;
 }


 .index_banner

 {

  margin-top:-22px;
  height:1250px;
}

h1{

  padding-top:25px;
  color:#ff66cc;
  font-size:120px;
}

h2
{

  color: #66ccff;
  margin-bottom:90px;

}

#show
{
  color:red;
  font-size:50px;
  text-decoration:underline;
  text-decoration:bold;
}


}


@media (max-width:1200px){

  .index_banner

  {

    margin-top:-22px;
    height:2000px;
  }


  h1{


    color:#ff66cc;
    font-size:80px;
    margin-left:5px;

  }

  h2
  {

    color: #66ccff;
    margin-bottom:90px;
    font-size:25px;
    margin-left:5px;


  }

  .align
  {

    margin-left:-1680px;
    margin-top:-750px;

  }

}

@media (max-width:767px){


  .align
  {


    margin-top:-1500px;

  }


  #index-banner

  {

    margin-top:-20px;
    height:2000px;
  }

  h1{

    padding-top:130px;
    color:#ff66cc;
    font-size:25px;
    margin-left:-1600px;
  }

  h2
  {

    color: #66ccff;
    margin-bottom:90px;
    font-size:17px;
    margin-left:-1600px;

  }

  .align
  {

    margin-left:-1680px;
    margin-top:-650px;


  }
  @media (max-width:767px){

    .all_trainers

    {
      margin-left:40px;
    }


    h1

    {
      margin-left:55px;
    }

    h2
    {

      margin-left:20px;

    }

    .align
    {

      margin-left:50px;
      margin-top:-3600px;


    }


  }

  @media (min-width:767px){

    h1

    {

      margin-left:-40px;
    }

  }


</style>

<script>
 $( document ).ready(function() {


  let current = 0;

  function nextBackground() {


   if (current == 0)
   {


     $("h1").css("width","500px");
     $("h2").css("visibility","hidden");
     $("h2").css("margin-top","-140px");


   }


   else if (current ==1)
   {

     $("h1").css("width","650px");
     $("h2").css("visibility","visible");
     $("h2").css("margin-top","10px");

   }

   else if (current == 2)
   {

     $("h1").css("width","800px");
     $("h2").css("visibility","hidden");
     $("h2").css("margin-top","-140px");

   }

   else
   {

     $("h1").css("width","950px");
     $("h2").css("visibility","visible");
     $("h2").css("margin-top","10px");
     current = -1;
   }

   current ++;


 }


 setInterval(function(){nextBackground();},5000);



});



</script>
