
<div class="banner profile" id="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/939702/pexels-photo-939702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
<h3>create a profile and <br>
make the first step</h3>

<div class="create_profile">
   <%= simple_form_for Parent.new do |f| %>
   <div class="input">name</div>
   <%= f.input :name,label: false%>
   <div class="input">sexual orientation</div>
   <%= f.collection_select(:sorientation, Sexualorientation.all, :orientation, :orientation)%>
    <div class="input">age</div>
   <%= f.select :age, [['20-25'],['25-30'],['31-35'],['36-40'],['41-45'],['46-50'],['51-60'],['61-70'],['70+']]%>
   <div class="input" >preferred co-parent</div>
   <%= f.select :intrested, [['straight man'],['straight woman'],['gay man'],['lesbian woman'],['gay couple'],['lesbian couple'],['transgender man'],['transgender woman'],['other'],['not known/open to ideas']]%>
   <div class="input" >country</div>
   <%= f.collection_select(:countryname, Countrie.all, :name, :name) %>
   <div class="input">*city/town</div>
   <%= f.input :town,:label => false %>
   <div class="input">neighborhood</div>
   <%= f.input :neighborhood,:label => false %>
   <div class="input about">tell us about yourself</div>
   <%= f.text_area :about, size: "20x10" ,id: 'about_field' %>
   <div class="input photo">upload a photo</div>
   <%= f.input :photo,:label => false %>
   <%= f.input :photo_cache, as: :hidden %>
    <div><%= f.button :submit,'submit', class: "btn-success training_btn"%><% end %>

   </div>
 </div>
</div>
<style>
/**/

@media (min-width:1200px){
h3

{

  color:white;
  margin-left:5px;

}
.profile

{
  margin-top:-25px;

}
.create_profile

 {
    width:15vw;
   color:black;
   margin-left:10px;

 }

.input
 {
 font-size: 2.3vh;
 font-weight: lighter;
 color: white;
 font-style: bold;
 height: 2vh;
 margin-bottom: 1.7vh;
 }

select
{

  width:281px;
  height:4vh;
  font-size:2vh;


}

.training_btn

{

  margin-bottom:-310px
}

.aboutpartner
{

  margin-top:-30px;
  margin-left: 400px;
  margin-top: -466px;
  width:236px
}

.aboutpartnerfield
{
  margin-left: 400px;
  color:black;
  width: 447px;
  height:12vh;
  margin-top: 10px;

}


.about

{

margin-left: 400px;
margin-top: -559px;
width: 250px;
margin-bottom: 260px;


}

#about_field
{

  margin-left: 400px;
  margin-top: -241px;
  margin-bottom: 325px;
  width:450px;
  height:180px;



}

.photo

{
 margin-top:10px;

}

}

@media (max-width:1200px){

  .profile

{
  margin-top:-30px;

}

 .input

 {
   margin-left:5px;

 }

  select
{
  margin-left:5px;
  width:150px;
  height:4vh;
  font-size:1.5vh;


}

#parent_name
{
  margin-left:5px;
  width:150px;
  height:4vh;
  font-size:1.5vh;
}

#parent_town
{
  margin-left:5px;
  width:150px;
  height:4vh;
  font-size:1.5vh;
}

#parent_neighborhood
{
  margin-left:5px;
  width:150px;
  height:4vh;
  font-size:1.5vh;
}

.about

{
  margin-left:5px;

}

#about_field

{
  margin-left:5px;
  height:120px;

}

.training_btn

{

  margin-bottom:-800px;
  margin-left:5px;
}

.aboutpartnerfield
{

  margin-top:10px;
  color:black;
  width:80vw;
  height:20vh;
  margin-left:5px;

}

.aboutpartner
{

  margin-top:-40px;
}
h3

{

  color:white;
  margin-left:5px;

}


 }



</style>

<script>


let count = 0
let select = document.getElementsByTagName("select")[0];
select.onchange = function () {


    let creatediv = document.createElement('div');
    let selectnode = document.createTextNode(select.value);
    let form = document.querySelector('.simple_form');
    creatediv.appendChild(selectnode);
    form.appendChild(creatediv);
    creatediv.style.visibility = 'hidden';
    let inner = creatediv.innerHTML;
    count +=1;

     if ((inner == "gay couple") || (inner == 'lesbian couple'))
      if (count == 1) {
     {
     let inputfield = document.createElement("div");
     let textareafiled = document.createElement("textarea");
     textareafiled.classList.add('aboutpartnerfield');
     inputfield.classList.add('input');
     inputfield.classList.add('aboutpartner');
     let node = document.createTextNode("about your partner\n");
     inputfield.appendChild(node);
     let form = document.querySelector('.simple_form');
     form.appendChild(inputfield);
     textareafiled.name = "parent[partner]";
     form.appendChild(textareafiled);
   }

    }

    if (count > 1){

      form.removeChild(form.lastChild);
      form.removeChild(form.lastChild);
      form.removeChild(form.lastChild);
    }



};


</script>



