
<% content_for :meta_description, @parent.sorientation%>
<div class="trainershowcontainer">
 <div class="trainershowwrapper" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%=image_path "sunset.jpg"%>);">
     <div class="trainershowfirstrow">
       <div class="trainershowprofilebox">

   <%if (@parent.partner_photo.file != nil)%>
    <style>

    .trainershowcircle

    {

    	margin-top:130px;
    }

  </style>
     <div class="trainershowcircle small center" style="background-image: url(<%=@parent.partner_photo%>)"></div>

  <%end%>

         <div class="trainershowcircle" style="background-image: url(<%=@parent.photo%>)"></div>
       </div>
       <div class="trainershowinformations">
        <div class="small">
         <div class="trainershowinforow"><div class="underline">Name</div>: <%=@parent.name=%> <%=@parent.name=%></div>
         <div class="trainershowinforow"><div class="underline">Sexual Orientation: </div><%=@parent.sorientation=%> </div>
         <div class="trainershowinforow"><div class="underline">Country:</div><%=@parent.countryname%> </div>
         <div class="trainershowinforow"><div class="underline">City/Town:</div><%=@parent.town=%> </div>
         <div class="trainershowinforow"><div class="underline">Neighborhood:</div><%=@parent.neighborhood=%></div>
         <div class="trainershowinforow"><div class="underline">Age:</div><%=@parent.age=%></div>
         <div class="trainershowinforow"><div class="underline">preferred co-parent:</div><%=@parent.intrested=%></div>
         <div class="trainershowinforow"><div class="underline">about me:</div></div><div class="white"><%=@parent.about=%></div>
         <% if @parent.partner != nil%>
            <div class="trainershowinforow"><div class="underline">about my partner:</div></div><div class="white"><%=@parent.partner=%></div>
         <%end%>
          <% if @parent.sorientation == "straight man"%> %>
          <style> .underline{color:rgb(153, 255, 51);}</style>
           <% elsif @parent.sorientation == "gay couple"%>
           <style> .underline{color:rgb(153, 204, 255);}</style>
           <% elsif @parent.sorientation == "lesbian couple"%>
           <style> .underline{color:rgb(255, 255, 0)};</style>
           <% elsif @parent.sorientation == "straight woman"%>
           <style> .underline{color:rgb(153, 204, 0)};</style>
           <% elsif @parent.sorientation == "lesbian woman"%>
           <style> .underline{color:rgb(255, 102, 102);}</style>
           <% elsif @parent.sorientation == "gay man"%>
           <style> .underline{color:rgb(204, 0, 153);}</style>
           <% elsif @parent.sorientation == "transgender man"%>P
           <style> .underline{color:rgb(153, 153, 102);}</style>
           <%else%>
            <style> .underline{color:rgb(153, 0, 255);}</style>
          <%end%>
       </div>
       </div>
     </div>
         <% if @parent.user_id != current_user.id%><div>
          <%= link_to "send a message",  new_parent_message_path(@parent), class: "btn btn-primary align"%><%end%>
          <% if @parent.user_id == current_user.id%><div>
          <%= link_to "my messages",  new_parent_message_path(@parent), class: "btn btn-primary align"%><%end%>
   </div>


 </div>



<script>
  document.getElementById("animatiombtn").addEventListener("mouseover",function(){
    document.getElementById("animationcarc").style.opacity = 1;
    document.getElementById("animationcarc").style.transform = 'translate(573%)';
  });
  document.getElementById("animatiombtn").addEventListener("mouseout",function(){
    document.getElementById("animationcarc").style.opacity = 0;
    document.getElementById("animationcarc").style.transform = 'translate(0%)';
  });
</script>

<style>
.align
{
  margin-right:150px;
}
.center

{
margin-top:250px;

}
.small

{
  margin-bottom:-1000px;

}


.white
{
  color:white;
  margin-left:71px;
}
.underline
{
  text-decoration:underline;

}
.see

{

  margin-top:-150px;

}
.calendar
{

 margin-top:20px;
 margin-left:20px;

}
  .trainershowfirstrow{
     height: 69%;
     width: 100%;
     /*background-color: green;*/
     display: flex;
   }

 .trainershowinforow{
     height: calc(100%/6);
     border-bottom: 3px solid grey;
     display: flex;
     align-items: center;
     color: white;
     font-size:25px;
     border-radius: 5px;
     padding-left: 5%;
   }
   @media (max-width: 767px) {


   .trainershowinforow{
    margin-top:4vh;
    font-size:4.98vw;
    margin-left:-25vw;

   }


   }



.destroy
{

  font-size:20px;
}



 * {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
   .trainershowwrapper{
     width: 100vw;
     height: 150vh;
     background-size: cover;
     /*background-position: center;*/
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .trainershowsecondrow{
     height: 30%;
     width: 100%;
     display: flex;
     justify-content: space-between;
     /*background-color: black;*/
   }
   .trainershowprofilebox{
     height: 100%;
     width: 25%;

   }


   .trainershowcircle {
     position: relative;
     border-radius: 49.99%;
     width: 100%;
     height: auto;
     padding-top: 70%;
     background-size: cover;
     padding-bottom: 30%;
     border: solid 1px white;
     box-shadow: 3px 3px 3px 3px;
     margin-top:170px;
   }

   .trainershowinforow:hover{
     background-color: rgba(0,0,0,.35);
   }

   .diogobtn{
    width: 100%;
      a{
      width: 100%;
      }
    }
    .gifbox{
      opacity: 0;
      transition: opacity ease 1s;
      transition: transform linear 4s;
    }

.trainer-img {
height: 454px;
width: 463px;
border-radius: 50%;
position: cover;
margin-left: -3vw;
margin-bottom: 16vh;
margin-top: -42vh;
background-position:center;
}

   .trainershowinformations{
     height: 100%;
     width: 74.99%;
     /*background-color: yellow;*/
     padding: 35px;
   }

   .tsbtnbox{
     width: 25%;
     height: 100%;
     /*background-color: black;*/
     display: flex;
     align-items: flex-end;
   }



 </style>





    <%#= button_to 'delete profile',@parent , method: :destroy, :onclick => "return confirm('Are you sure you want to delete this service?')" %>
